.alternating-image {
    background: no-repeat center;
    background-size: cover;
}

.alternating-image img {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
    width: 100%;
}

.alternating-image:hover img {
    opacity: 1;
}

.caption-button {
    float: right;
    margin-top: -22px;
}

.col-md-4 {
    padding: 0.5rem;
}

.container {
    max-width: 1000px;
}

.form-inline {
    padding: 0 0.5rem;
}

.label-new {
    color: orange;
    font-weight: bold;
}

.modal-dialog {
    max-width: 994px;
}

.modal-open .navbar {
    margin-right: 0 !important;
    padding-right: 1rem !important;
}

.navbar {
    margin-bottom: 1rem;
}

.row {
    padding: 0 0.75rem;
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 1800px) {
    .container {
        max-width: 60%;
    }
}
